@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body, html{
    height: 100%;
    background-color: #004c84;
    padding: 0 4%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.box{
       text-align: center;
       margin-top: 50px;
}

#Status,
p{
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
}
button{
    color: #fff;
    position: relative;
    text-align: center;
    border: none;
    background-color: #004070;
    padding: 15px 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .5s;
}

button:hover{
    color: #004070;
    background-color: #fff;
}

#ok,
#confirmado,
#okLink{
    display: none;
}