@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&display=swap');

*{
    font-family: 'Baloo Thambi 2', cursive;
    outline: none;
    text-decoration: none;
    margin: 0;
    padding: 0;  
    
}

body, html{
    width: 100%;
    height: 100%;
    background: url(./imagens/img.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

#fundo-externo {
    position: relative; 

}

#fundo {
    margin: 0 auto;
}

.content-center{
    display: inline-block;
    padding: 0 2%;
    max-height: 100%;
    width: 97%;

}

#callerVideo{
    width:80%;
    height: 88vh;
    background-color: #000;
}

#selfVideo{
    width: 17%;
    height: 30vh;
    margin-left: 30px;
    background-color: #000;
}

.box{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn{
    background: none;
    font-size: 27px;
    color: #fff;
    padding: 5px 15px;
    margin-left: 25px;
    text-align: center;
    cursor: pointer;
    border:none;
}

.bttn:hover{ color: #000 !important; }

.call{ 
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);
    color: rgb(187, 9, 9) !important;}


@media  (max-width: 1024px) {
        #callerVideo{
        width:100%;
        height: 40vh;
    }

    #selfVideo{
        margin-top: 20px;
        width: 100%;
        height: 40vh;
        margin-left: auto;
    }
    .box{ width: 100%; }

    .content-center {
        padding: 10px 1%;
   }
   .bttn{ font-size: 19px; }
}

@media  (max-width: 765px) {

    .bttn{ margin-left: 10px; }
}